:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.background-image {
  height: 100vh;
  background: url(../img/furina.jpeg) no-repeat;
  background-size: cover;
}

.login {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 175, 1) 34%,
    rgba(0, 212, 255, 1) 82%
  );
}

div#offcanvasExample {
  width: var(--offcanvas-width);
}

.collapse-link .right-icon {
  transition: 0.3s ease;
}

.collapse-link[aria-expanded="true"] .right-icon {
  transform: rotate(90deg);
}

.bg-diamond {
  background: #20d7f7 url(../img/bg-diamond.jpg) no-repeat;
}

.bg-regular {
  background: #c7b31c;
}

/* BREAK POINT */
/* LAPTOP */
@media only screen and (min-width: 992px) {
  div#offcanvasExample {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }

  main {
    margin-left: var(--offcanvas-width);
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* MOBILE */
@media only screen and (max-width: 767px) {
}

/* SMALL MOBILE */
@media only screen and (max-width: 392px) {
}
