:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

/* Login */
.background-image {
  height: 100vh;
  background: url(../img/furina.jpeg) no-repeat;
  background-size: cover;
}

.form {
  background: rgba(234, 234, 234, 1);
}

.login {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 175, 1) 34%,
    rgba(0, 212, 255, 1) 82%
  );
}

.h-100 {
  min-height: 100vh;
}

div.form-check input[type=checkbox] {
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
  box-shadow: none;
}

div label.form-label::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

div input[type=text]:focus, 
div input[type=password]:focus {
  box-shadow: 0px 0px 0px 4px rgba(105,138,232, 0.5);
}

div input[type=text], 
div input[type=password] {
  padding-left: 33px;
}


.logo {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: #fff;
  width: 20px;
}

.thumb-container .thumb {
  width: 320px;
}
/* Login */

div#offcanvasExample {
  width: var(--offcanvas-width);
}

.collapse-link .right-icon {
  transition: 0.3s ease;
}

.collapse-link[aria-expanded="true"] .right-icon {
  transform: rotate(90deg);
}

.bg-diamond {
  background: #20d7f7 url(../img/bg-diamond.jpg) no-repeat;
}

.bg-regular {
  background: #c7b31c;
}

/* BREAK POINT */
/* LAPTOP */
@media only screen and (min-width: 992px) {
  div#offcanvasExample {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }

  main {
    margin-left: var(--offcanvas-width);
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* MOBILE */
@media only screen and (max-width: 767px) {
}

/* SMALL MOBILE */
@media only screen and (max-width: 392px) {
}
